<%= form_with scope: :event, url: event_path, local: true, method: :patch do |form| %>
    <%= render partial: 'layouts/components/eventPartial', locals: {form: form} %>
    <br/>
    <div class="row justify-content-center">
        <%= form.submit 'Save', {:class => 'btn btn-outline-primary col-lg-2'}%>
    </div>
    <br/>
    <div class="row justify-content-center">
        <%= link_to 'Back', @event, {:class => 'btn btn-outline-secondary col-lg-2'}%>
    </div>
<% end %>