
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Eras ITC", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #333;
$secondary-color: #888;
$background-color: #e7e7e7;
$page-color: #f7f7f7;

$navHeight: 3em;

%centered-underline{
  text-decoration-line: underline;
  text-align: center;
}

%userText{
  overflow-wrap: break-word;
  hyphens:auto;
}

%event-image-template{
  border-radius: 50%;
  overflow: hidden;
  //border: solid black thin;
}

%event-image{
  border-radius: 50%;
}